{% extends 'movie/layout.html' %}

{% block body %}

<form action={% url 'movie:search' %} method="get">
    <input id="q" type="text" name="q" value="{{ query }}" autofocus>
    <input type="submit">
</form>

<div class="row">
	<img class="col-3" src="{{ title.poster }}">
</div>
{% if title.tomato_url and title.tomato_url != "N/A" %}
<div class="btn-group d-flex gap-2 mt-2">
	<a class="btn" style="color: white; background-color: red" href="{{ title.tomato_url }}">Rotten Tomatoes</a>
{% else %}
<div class="row mt-2">
{% endif %}
	<a class="btn" style="color: white; background-color: red" href="https://www.rottentomatoes.com/search?search={{ query }}">Rotten Tomatoes Search</a>
</div>
{% if title.imdb_id %}
<div class="btn-group d-flex gap-2 mt-2">
	<a class="btn" style="color: black; background-color: #F6C800" href="https://www.imdb.com/title/{{ title.imdb_id }}">IMDb</a>
{% else %}
<div class="row mt-2">
{% endif %}
	<a class="btn" style="color: black; background-color: #F6C800" href="https://www.imdb.com/find?q={{ query }}">IMDb Search</a>
</div>
<div class="row mt-2">
	<a class="btn" style="color: white; background-color: #111" href="https://www.metacritic.com/search/movie/{{ query }}/results">metacritic</a>
</div>
<div class="row mt-2">
	<a class="btn" style="color: #fbc500; background-color: #060d17" href="https://www.justwatch.com/ca/search?q={{ query }}">JustWatch</a>
</div>
{% include 'movie/custom.html' %}
{% endblock %}
